# Telegram Bot Configuration
TELEGRAM_TOKEN=il_tuo_token_qui

# API Configuration
ROBOT_API=http://localhost:5002/api/arm
MARKETPLACE_API=http://localhost:4000/api

# Wallet Configuration (opzionale)
ROBOT_WALLET=83vZt8bKc5qXyHZKwj2Qq3Yp
